<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
	<dict>
		<key>CFBundleIdentifier</key>
		<string>com.elasticthreads.stackkbshortcuts</string>
		<key>Developer Identifier</key>
		<string>F7VAC3Z993</string>
		<key>CFBundleVersion</key>
		<string>1</string>
		<key>CFBundleShortVersionString</key>
		<string>0.81</string>
		<key>URL</key>
		<string>https://github.com/elasticthreads/StackKBShortcuts-for-Safari/blob/master/StackKBShortcuts.safariextz</string>
	</dict>
   </array>
</dict>
</plist>